# Log file
logfile: "stdout"

# Max Job Concurrency for workflows
max_concurrency: 20

# Read only GitHub Token
gha_token: "TOKEN"

# Logging Verbosity (0-5)
verbosity: 1

# For valid verbosity values please see the verbosity conversion table at
# https://github.com/apache/infrastructure-gha-workflow-scanner/blob/main/gha_scanner/__init__.py#L20-L26

# Scan all workflow files on every commit
full_scan: True

# Days until next pestering
next_pester: 7

exceptions: "/opt/infrastructure-gha-workflow-scanner/exceptions.yaml"
