# Log file
logfile: "logs/gha_scanner.log"

# Max Job Concurrency for workflows
max_concurrency: 20

# Read only GitHub Token
gha_token: "<TOKEN>"

# Logging Verbosity
verbosity: 5

# Scan all workflow files on every commit
full_scan: False
